header.header#header.fixed-top.main_h
	.container
		.row.flex-row
			a.logo(href='#') Portfolio
			#nav-icon.mobile-toggle
				span
				span
				span
				span
			nav
				ul#menu
					li
						a(href='#firstPage') Home
					li
						a(href='#secondPage') About Me
					li
						a(href='#thirdPage') My Works
					li
						a(href='#fourthPage') Contacts